h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
 
  }

  .yellow-bubb1 {
     margin-right: 450px; 
  }
  
  .yellow-bubb1 h3 {
    color: black;
    display: inline; 
  }
  
  .hemlo {
    font-size: 20px;
    background-color: #fcd19c;
    border-radius: 5px;
    padding: 5px;
  }

  .mrigank {
     margin-right:500px; 
  }
  
  .larger-text {
      font-size: 1.5em;
  }

  .right {
    margin-right: 820px;
  }
  
  .highlighted-text {
      background-color: yellow; 
      position: absolute;
      right: 0; 
      bottom: -1em; 
      margin: 0
  }
  
  body {
    text-align: center;
    display: inline;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    background-image: url(image.png);
    background-size: cover;   
    /* background-repeat: no-repeat;  */
    /* background-position: center center;  */
  }
  
  .larger-text {
      font-size: 1.5em;
  }
  
  header {
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  section {
    /* margin-right: 820px; */
    color:aqua;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  #email-validation form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #email-validation label {
    margin-bottom: 10px;
  }
  
  #email-validation input[type="email"] {
    margin-left: 100px;
    width: 50%;
    padding: 10px;
    margin-bottom: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
     margin-left: 750px;
    background-color: #007acc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .left-candidate {
    color:#fff;
    display: inline;
    background-color: orange;
    border-radius: 6px;
    border-top: 5px;
    border-bottom: 50px;
    margin-right: 220px; 
    padding: 30px;
  }
  
  .left-candidate:hover {
    opacity:0.5;
  }
  
  .spacing {
    margin-top: 50px;
  }
  .center-candidate {
    color:#fff;
    display: inline;
    background-color: rgb(0, 255, 34);
    border-radius: 6px;
    border-top: 5px;
    border-bottom: 500px;
    margin-right: 200px; 
    padding: 30px;
  }

  .center-candidate:hover {
    opacity: 0.5;
  }
  .right-candidate {
    color:#fff;
    display: inline;
    background-color: rgb(228, 33, 124);
    padding: 30px;
    border-radius: 6px;
    border-top: 5px;
    border-bottom: 50px;
  }
  .right-candidate:hover {
   opacity:0.5;
   }
  
  button[type="submit"]:hover {
    background-color: #005f9e;
    
  }
  button[type="submit"]:active {
    opacity: 0.5;
  }
  #candidates h2 {
    margin-top: 20px;
  }
  
  .candidate {
    margin-right: 820px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .candidate img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .candidate button {
    
    background-color: #007acc;
    padding: 5px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .candidate button:hover {
    background-color: #005f9e;
  }
  .candidate button:active {
    opacity: 0.5;
  }
  footer {
    text-align: center;
    padding: 10px;
    background-color: #007acc;
    color: #fff;
    border-top: 2px solid #005f9e;
  }
